$bg-page: #201b2c; 
$bg-card: #2f2841;
$bg-input: #514869;
$color-btn-login: #2b134b;

$color-font: #77ffc0;
$title-card: #00ff88; // BackGround do Button Login

$color-label: #f0ffffde;
$color-placeholder: #f0ffff94;

$bx-card: 0 10px 40px #00000056;